<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Color palette </h1>
    <div class="row" style="background-color:white">
      <p><%= palette %></p>
    </div>
  </body>
</html>
